.page {
    max-width: 1184px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
}

@media screen and (min-width: 1280px){
    .page {
        max-width: 1184px;
    }
}