.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--margin-between-blocks) var(--margin-left-right) 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1280px){
    .footer {
        margin-left: 0;
        margin-right: 0;
    }
}